/*-------------------------------Global CSS---------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* secondpage */
h2 {
    font-size: 45px;
}

/* fifth Page */
sup {
    color: red;
    font-size: 30px;
}

span {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.905);
}




/*-------------------------------------FIRST PAGE----------------------------------*/
.background {
    background-image: url(../images/camera-man.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 400px;
    background-color: rgba(61, 72, 78, 0.9);
}

.sub-container {
    margin-top: 20px;
}

.navbar {
    display: flex;
    position: relative;
    color: white;
}

.navbar ul {
    display: flex;
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
}

.navbar ul li img {
    border-radius: 100%;
    width: 36px;
}

.button1 {
    display: flex;
    position: absolute;
    right: 0%;
    font-size: 15px;
    margin-top: 10px;
}

.button1 a {
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
    color: rgb(122, 121, 121);
    text-decoration: none;
}

.button1 button {
    padding: 0px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(63, 58, 88);
    color: white;
}

.main {
    display: flex;
}

.left {
    width: 30vw;
    margin-top: 100px;
    color: white;
}

.para {
    margin-top: 30px;
}

.para div {
    font-size: 24px;
    font-style: oblique bold;
}

.left button {
    margin-top: 30px;
    padding: 12px;
    border-radius: 9px;
    border: none;
    background-color: rgb(14, 233, 123);
    color: white;
    font: bolder;
    font-size: 20px;
}


.right {
    margin-top: 100px;
    margin-left: 220px;
}

.right img {
   
    width: 318px;
}

/*---------------------------------SECOND PAGE-------------------------------------*/
.box {
    display: flex;
    padding-bottom: 20px;
    /* height: 50vh; */
    justify-content: center;
    align-items: center;
}

.clip img {
    width: 200px;
}

.content {
    width: 600px;
    margin: 0px 96px;
    line-height: 1.5;
}

.content p {
    font-size: 20px;
}

.icon {
    width: 50px;
}

.icon img {
    width: 50px;
    border-radius: 60px;
    margin: 20px 0px;
}

.boxtwo {
    background-color: #67bf95;
    padding-bottom: 350px;
    position: relative;
}

.heading {
    width: 700px;
    margin: auto;
    color: white;
    line-height: 1.8;
    padding: 70px 0px;
}

.photo img {
   
    width: 63%;
 
    position: absolute;
    bottom: 0%;
    margin:0% 20%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/*------------------------------------------THIRD PAGE-----------------------------------------*/
.container3 {
    padding-bottom: 100px;
   
}

.para3 {
    color: #212020;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0px 0px 0px;
    margin: auto;
}

.header {
    margin: auto;
    width: 45%;
    color: #858b93a3;
    text-align: center;
    padding: 40px 0px 0px 0px;
    line-height: 2;
}

.table {
    display: flex;
    justify-content: center;
  
   
}

.row {
   width: 15%;
    margin: 0% 3%;
    color: rgba(0, 0, 0, 0.551);
   
}

.free {
    margin: 3% 0% 0% 0%;
    background-color: #585b5f;
    padding: 0px 78px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 50px;
    text-align: center;
    border: none;
}
.free1{
    margin: 3% 0% 0% 0%;
    background-color: #585b5f;
    padding: 0px 34%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border: none;
}

.list {
    background-color: #ebeff4;
    margin: 0% 0% 3% 0%;
}

.list1 {
    background-color: rgba(10, 246, 45, 0.274);
    margin: 0% 0% 3% 0%;
}

.list2 {
    background-color: #d2fbf3;
    margin: 0% 0% 3% 0%;
}

.list ul li {
    list-style: none;
    padding: 13% 0%;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    font-style: normal;
    text-align: center;
}

.list1 ul li {
    list-style: none;
    padding: 13% 0%;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.list2 ul li {
    list-style: none;
    padding: 13% 0%;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.prof {
    margin: 3% 0% 0% 0%;
    background-color: #3fd734;
    padding: 0px 60px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 50px;
    text-align: center;
    border: none;
}

.prof1 {
    margin: 3% 0% 0% 0%;
    background-color: #3fd734;
    padding: 0% 31%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border: none;

}

.enter {
    margin: 3% 0% 0% 0%;
    background-color: #1febeb;
    padding: 0% 32%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 50px;
    text-align: center;
    border: none;
}

.enter1 {
    margin: 3% 0% 0% 0%;
    background-color: #1febeb;
    padding: 0% 32%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border: none;
}

.price {
    color: #585b5f;
    font-weight: bolder;
    font-size: large;
}

.price1 {
    color: #3fd734;
    font-weight: bolder;
    font-size: large;
}

.price2 {
    color: #1febeb;
    font-weight: bolder;
    font-size: large;
}

/*--------------------------------fouth PAGE--------------------------------------*/
.grey {
    background-color: rgba(119, 136, 153, 0.2);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.video {
    background-image: url(../images/wheels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fade {
    padding: 300px;
    background-color: rgba(152, 4, 4, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade img {
    cursor: pointer;
    width: 80px;
}

/*------------------------FIFTH PAGE---------------------------*/
.container5 {
    background-color: #2f3136;
    padding: 52px;
}

.image5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.image5 img {
    width: 220px;
}

.container5-1 {
    display: flex;
    justify-content: center;
}

.contact1 {
    margin-right: 15%;
}


.textbox {
    color: #d7d7d7;
    font-family: Roboto;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
}

.inputbox {
    padding: 6% 0%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: #2f3338;
    color: white;
    font-size: 20px;
}

.inputbox1 {
    padding: 37% 0%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: #2f3338;
    color: white;
    font-size: 20px;
}

.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

}

.button5 {
    background-color: #be393b;
    padding: 12px 35px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border: None;
    text-transform: uppercase;
}

.footer {
    background-color: #292c30;
    padding: 5px;
    color: #ffffffe3;

}

.container5-3 {

    display: flex;
    justify-content: center;
}

.image-footer {
    padding: 16px 0px 0px 0px;

}

.image-footer img {
    width: 22px;
}

.footer-left {
  
    padding: 18px 0px 0px 0px;
   
}

.footer-right {

    padding-left: 40px;
    margin-left: 17%;
}

.footer-right img {
    width:100px;
   margin-top: 4%;
   
}